/* FUENTE Y COLORES GENERALES */
body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.gb-semi {
    background-color: #f0f0f0;
}

.bg-pink {
    background-color: #ff23bd;
}

.bg-green {
    background-color: #87eb72;
}

.bg-lateral {
    background: linear-gradient(to right,
        rgba(255,0,200,0.4) 0%,
        rgba(255,0,200,0) 10%,
        rgba(255,0,200,0) 90%,
        rgba(255,0,200,0.4) 100%
        );
    background-size: cover;
    background-repeat: no-repeat;
}


.blurred {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.t-pink {
    color: #ff23bd;
}



/* MARQUEE ANIMADO */
.marquee {
    overflow: hidden;
    white-space: nowrap;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 12s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* TARJETAS DEL CARRUSEL */

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    justify-items: center;
}

.card {
    width: 100%;
    height: 41rem;
    border: none !important;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img,
.card-img-top {
    width: 100%;
    height: 28rem;
    object-fit: contain;

}

.card-img-top {
    height: 350px;
}

.card-body {
    flex-grow: 1;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.1rem;
    color: #444;
}

.card-body .btn {
    margin-top: auto;
}

/* CONTROLES DEL CARRUSEL */
.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #ff23bd;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    top: 35%;
    transform: translateY(-50%);
    margin: 70px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .cards-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 95%;
        height: auto;
    }

    .card img,
    .card-img-top {
        height: 14rem;
    }
}

/*  BOTON TOP */

#btnTop {
    position: fixed;
    bottom: 0;
    right: 40px;
    width: 100px;
    height: auto;
    cursor: pointer;
    display: none;
    z-index: 9999;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

#btnTop:hover {
    transform: scale(1.15);
    opacity: 0.85;
}